numpy
pandas
jupyter
ipykernel
flake8
black
isort
pytest
coverage
yfinance
statsmodels
cvxpy
plotly
seaborn
matplotlib
riskfolio-lib
openpyxl
gurobipy
mosek
tqdm
Pyarrow
mplfinance
beautifulsoup4
fake-useragent